<table>
  <tbody>
    <tr>
      <td><strong>Title:</strong></td>
      <td><%= @book.title %></td>
    </tr>
    <tr>
      <td><strong>Body:</strong></td>
      <td><%= @book.body %></td>
    </tr>
  </tbody>
</table>


<%= link_to "Edit", "#" %>
<%= link_to "Back", books_path %>
